<div>
  <h1><%= @product.name %></h1>
</div>

<div>
  <p><%= @product.rating %></p>
</div>

<div>
  <p><%= @product.price %></p>
  <p><%= @product.quantity %></p>
  <p><%= @product.description %></p>
</div>