<!DOCTYPE html>
<html>
  <head>
    <title>Mini Bodega</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex justify-between">
      <div>
        <h1><a href="/">Mini Bodega</a></h1>
      </div>

      <div>
        <ul>
          <li>My Profile</li>
          <li>Cart</li>
          <li>Search</li>
          <li>Sign In</li>
        </ul>
      </div>
    </div>

    <main class="mx-auto mt-28 px-2">
      <%= yield %>
    </main>
  </body>
</html>
