<!DOCTYPE html>
<html>
  <head>
    <title>Mini Bodega</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="grid grid-cols-7 bg-slate-400">
      <div class="col-start-4 col-end-5 justify-self-center">
        <h1 class="text-2xl"><a href="/">MINI BODEGA</a></h1>
      </div>

      <div class="col-start-7">
        <ul>
          <li class="nav-item">
            <i class='bx bxs-user'></i>
            <a href="">My Profile</a>
          </li>
          <li class="nav-item">
            <i class='bx bx-cart' ></i>
            <a href="">Cart</a>
          </li>
          <li class="nav-item">
            <i class='bx bx-search-alt-2' ></i>
            <a href="">Search</a>
          </li>
          <li class="nav-item">
            <i class='bx bxs-log-in' ></i>
            <a href="">Sign In</a>
          </li>
        </ul>
      </div>
    </div>

    <main class="grid place-content-center h-screen">
      <%= yield %>
    </main>

    <footer>
    @KYNOME 2023-<%= Date.today.year %>
    </footer>
  </body>
</html>
